.contacts{
	margin-bottom: 80px;
	&__text{
		width: 50%;
		margin-bottom: 40px;
		padding-right: 20px;
	}
	@media screen and (max-width: $mobile-breakpoint) {
		margin-bottom: 40px;
		&__text{
			width: 100%;
			padding-right: 0;
		}
	}
	&__title{
		font-size: 22px;
		margin-bottom: 40px;
	}
	.general-info{
		&__title{
			color: $main;
			font-size: 14px;
			margin-bottom: 5px;
			font-family: $heading-font;
			line-height: 30px;
			font-weight: 600;
			span{
				padding-right: 10px;
				width: 40px;
				display: inline-block;
				svg{
					height: 22px;
					position: relative;
    				top: 4px;
				}
			}
		}
		&__text{
			font-family: $heading-font;
			font-weight: 600;
			font-size: 14px;
			margin-bottom: 0;
			color: $black !important;
			&.top{
				margin-bottom: 50px;
			}
			@media screen and (max-width: $mobile-breakpoint) {
				margin-bottom: 30px !important;
			}
		}
		a:hover{
			color: $main !important;
		}
	}

	.company-details{
		&__group{
			margin-bottom: 15px;
		}
		&__title{
			font-family: $heading-font;
			font-size: 14px;
			margin-bottom: 8px;
			font-weight: 600;
			line-height: 32px
		}
		&__info{
			font-family: $heading-font;
			font-size: 14px;
			font-weight: 500;
			margin-bottom: 0px;
		}
	}

	.team{
		@media screen and (max-width: $mobile-breakpoint) {
			margin-bottom: 30px;
		}
		&__item{
			font-size: 14px;
			font-weight: 400;
			margin-bottom: 2px;
			color: $black;
			font-family: $heading-font;
			display: block;
			font-weight: 600;
			&.position{
				font-weight: 400;
				color: #7A7A7A;
			}
		}
	}

	@media only screen and (max-width: $mobile-breakpoint){
		&__general{
			margin-top: 20px;
			margin-bottom: 20px;
			.main-contacts{
				.info-icon{
					font-size: 16px;
				}
			}
		}
	}
	&__map{
		height: 100%;
		width: 100%;
		@media screen and (max-width: $mobile-breakpoint) {
	    	padding-left: 0px;
	    }
		.map-wrap{
			width: 100%;
			height: 100%;
		}
	}

	.full-width-block{
		&__left{
			background-color: transparent;
		}
	}
}

@media screen and (max-width: $mobile-breakpoint) {
	.rekviziti{
		margin-top: 40px;
	}
}
.contacts-column{
	padding: 0;
}
.contact-section2-content {
    position: relative;
    .map{
    	position: absolute;
	    right: 0;
	    width: 50%;
	    height: 100%;
	    #map-wrap{
	    	height: 100%;
	    }
	    .contacts__map{
	    	height: 100%;
	    }
    }
    &__text{
    	 position: absolute;
	    left: 0;
	    width: 50%;
	    height: 100%;
    }
    @media only screen and (max-width: $mobile-breakpoint){
    	.map{
    		position: relative;
    		height: 280px;
    		width: 100%;
    		margin-bottom: 60px;
    	}
    	&__text{
    		position: relative;
    		width: 100%
    	}
    }
}


