.equipment{
	margin-top: 100px;
}
.equipment-item{
	position: relative;
	margin-bottom: 60px;
	padding: 20px; 
    background-color: #f1f1f1;
	&__image{
		float: left;
		width: 30%;
		position: absolute;
    	top: 50%;
    	transform: translateY(-50%);
		img{
			width: 100%
		}
	}

	&__content{
		float: right;
		width: 70%;
		padding: 40px 20px;
		h2{
			padding: 0px 10px;
			font-size: 22px;
			color: $main;
		}
		.sub-title{
			font-weight: 400;
			font-family: $heading-font;
			padding: 0 10px;

		}
	}
	.group-wrapper{
		column-count: 2;
  		column-gap: 0;
	}
	&__group{
		
		padding: 5px 10px;
		break-inside: avoid;
  		box-sizing: border-box;
		&__title{
			font-weight: 600;
			font-size: 15px;
			margin-bottom: 5px;
			color: $black;
			font-family: $heading-font;
		}
		&__value{
			font-size: 14px;
			margin-bottom: 0px;
		}
	}

}

.home-equipment{
	.equipment-item{
		margin-bottom: 0px;
		&__image{
			width: 40%;
		}
		&__content{
			width: 60%;
			background: #F8F8F8;
    		padding: 40px;
    		h2{
    			font-size: 18px;
    		}
		}

	}
}

.posts-slider{
	position: relative;
}

@media only screen and (max-width: $mobile-breakpoint){
	.equipment-item{
		&__image{
			width: 100%;
			text-align: center;
			top: 0;
			transform: translateY(0%);
			position: relative;
			padding-bottom: 30px;
			float: unset;
			img{
				width: 220px;
			}
		}
		&__content{
			float: unset;
			width: 100%;
		}
	}
}