$footer-text-color: #FBFBFB;
footer{
	padding: 100px 0px;
    margin-top: 70px;
    background-color: #333333;
    @media only screen and (max-width: $mobile-breakpoint){
    	margin-top: 40px;
    	padding: 20px 0px;
    }
    .menu{
    	.nav{
    		display: block;
    	}
    	&-item{
    		display: block;
    		break-inside: avoid;
  			box-sizing: border-box;
    		a{
    			color: $footer-text-color;
    			font-size: 14px;
    		}
    	}
    }
}
.footer-content{
	display: flex;
	justify-content: left;
	justify-content: space-between;
	.logo{
		img{
			width: 200px;
		}
		
	}

	&__column{
		display: inline-block;
		padding-right: 70px;
	}
	.copyright{
		font-size: 12px;
		color: $textDark;
		margin-top: 20px;
	}

	&__title{
		font-family: $heading-font;
		font-size: 17px;
	    font-weight: 600;
	    margin-bottom: 15px;
	    color: #7A7A7A;
	}

	&__text{
		color: $footer-text-color;
		font-size: 14px;
	}
	a{
		display: block;
	}
	.email{
		font-size: 17px;
		font-weight: 600;
		font-family: $heading-font;
		color: $main;
		@media only screen and (max-width: $mobile-breakpoint){
			margin-top: 20px;
		}

	}
	.phone{
		font-size: 15px;
		font-weight: 500;
		font-family: $heading-font;
		color: $footer-text-color;
		margin-top: 10px;
	}
	.button--read-more{
		font-size: 14px;
	}
	
	.socials{
		padding: 0;
		.social{
			list-style: none;
			.soc-item{
				display: block;
				margin-bottom: 5px;
				&:hover{
					opacity: 0.7;
				}
			}
			&__icon{
				height: 20px;
				svg{
					height: 20px;
					path{
						fill: $white;
					}
				}
			}
			&__text{
				font-size: 13px;
			    position: relative;
			    bottom: 5px;
			    margin-left: 10px;
			    text-transform: uppercase;
			    color: $white;
			}
		}
	}
	
	@media only screen and (max-width: $mobile-breakpoint){
		display: block;
		.footer-content{
			&__title{
				margin-top: 40px;
			}
			&__column{
				padding-right: 0px;
				padding-left: 15px;
				display: block;
				width: 100%;
			}
		}
		.whour-content{
			margin-top: 20px;
		}	

	}

}