.page-header{
	padding:100px 0px 0px 0px;
	text-align: center;
	position: relative;
	&__title{
		padding-top: 10px;
    	color: $black;
    	text-transform: uppercase;
    	font-family: $heading-font;
    	z-index: 100;
    	position: relative;
    	border-bottom: 1px solid #e8e8e8;
    	padding-bottom: 40px;
    	margin-bottom: 70px;
    	h1{
    		font-weight: 700;
    		margin-bottom: 0;
    	}
	}
	&-notitle{
		height: 300px;
	    background-size: cover;
	    background-position: center;
	    .overlay{
	    	z-index: 0;
	    }
	}
	&--simple{
		background-color: unset;
		text-align: left;
		background-size: cover;
		.page-header__title{
			h1{
				color: $black;
				font-size: 32px;
			    font-weight: 600;
			}
			
		}
	}
	&--temp{
		.page-header__title{
			padding-bottom: 70px;
			border-bottom: 0px solid #e8e8e8;
			h1{
				color: $white;
				font-size: 32px;
			    font-weight: 600;
			}
		}
		.breadcrumb{
			&__link{
				color: $white;
			}
			.divider{

				svg{
		    		path{
		    			fill: $white;
		    		}
				}
			}
		}
		.container{
			z-index: 1;
		}
	}
     @media screen and (max-width: $mobile-breakpoint) {
     	padding: 20px 0 50px 0;
		margin-top: 30px;
     	&__title{
     		margin-bottom: 0;
     		h1{
     			font-size: 26px;
    			font-weight: 700;
     		}
     	}

     	&--simple{
			.page-header__title{
				h1{
					font-size: 24px;
					margin-bottom: 0;
				}
			}
		}
     }
	
}

.breadcrumb{
	padding: 0;
	margin-top: 30px;
    margin-bottom: 0px;
    font-size: 13px;
    background-color: transparent;
	&__link{
		display: inline-block;
		text-transform: uppercase;
		list-style: none;
		color: $lighterText;
		font-size: 12px;
    	font-weight: 600;
    	font-family: $heading-font;
	}
	.divider{
		display: inline-block;
		list-style: none;
		padding: 0px 8px;
		svg{
			transform: rotate(-90deg);
			position: relative;
    		bottom: 2px;
    		path{
    			fill: $lighterText;
    		}
		}
	}
	
}
.template-stores{
	.page-header{
		margin-bottom: 0px;
	}
}