$side-menu-width: 250px;
.service-content{

}
.main-content{
	float: right;
	width: calc( 100% - #{$side-menu-width} );
	padding-left: 50px;
}
.side-menu{
	float: left;
	width: $side-menu-width;
	.posts__item__image{
		height: 160px;
	}
	&__group{
		margin-bottom: 20px;
		&__header{
			position: relative;
			span{
				position: absolute;
				right: 0;
				cursor: pointer;
				transition: all 0.1s linear;
				svg{
					width: 10px;
    				height: 10px;
    				path{
    					fill: #7e7e7e;
    				}
    				
				}
				&.collapsed{
					transform: rotate(180deg);
				}
				&:hover{
					svg{
	    				path{
	    					fill: $black;
	    				}
	    				
					}
				}
			}
		}
		&__children{
			padding-left: 15px;
		}
		&__link{
			display: block;
			color: #7E7E7E;
			font-size: 14px;
			font-family: $heading-font;
			margin-bottom: 5px;
			transition: all 0.1s linear;
			opacity: 1;
			font-weight: 600;
			&--large{
				display: inline-block;
				font-size: 14px;
				text-transform: uppercase;
				margin-bottom: 8px;
				border-bottom: 2px solid transparent;
				line-height: 22px;
				&.active{
					border-bottom: 2px solid $main;
				}	
			}
			&:hover{
				color: $black;
				opacity: 1;

			}
			&.active{
				color: $black;
				opacity: 1;
			}
		}
	}
}

@media screen and (max-width: $mobile-breakpoint) {
	.side-menu{
		display: none;
	}
	.main-content{
		float: unset;
		width: 100%;
		padding-left: 0px;
	}
}