.posts{
	margin-top: 0px;

	&__item{
	    position: relative;
    	background-color: #fff;
    	margin-bottom: 22px;
    	transition: all 0.2s linear !important;
    	background-color: transparent;
    	&__image{
    		background-size: cover;
	    	background-position: center;
	    	height: 230px;
	    	border-radius: 4px 4px 0px 0px;
	    	position: relative;
    	}
	    &__content{
			z-index: 2;
		    position: relative;
		    padding: 10px 10px 20px 20px;
		    background-color: #f1f1f1;
		    border-radius: 0px 0px 4px 4px;
		    transition: all 0.1s linear !important;
			&__title{
				font-size: 15px;
    			line-height: 19px;
    			padding-top: 10px;
    			margin-bottom: 4px;
    			transition: all 0.1s linear !important;
			}
			&__text{
				margin: 0;
				font-size: 13px;
    			line-height: 17px;
    			margin-bottom: 10px;
    			transition: all 0.1s linear !important;
			}
			a{
				&:hover{
					opacity: 1 !important;
				}
			}
			.button--read-more{
				font-size: 12px;
			}
		}
		&:focus{
			border: 0;
			box-shadow: 0;
		}
		&:hover{
			color: $main;
			.posts__item__content{
				background-color: $main;
				&__title{
					color: $white;
				}
				&__text{
					color: $white;
				}
				.button--read-more{
					color: $white !important;
					.arrow{
						svg{
							path{
								stroke: $white;
							}
						}
					}
					
				}
			}
		}
	}
}
.post{
	padding-top: 160px;
	.entry-content{
		padding-right: 20px;

	}
}
.posts-slider{
	position: relative;
}
.post_terms{
	margin-bottom: 30px;
	&__list{
		list-style: none;
		padding: 0;
		&__item{
			display: inline-block;
			margin-right: 5px;
			transition: all 0.2s ease-in-out;
			line-height: 0;
			padding-top: 40px;
			a{
				padding: 8px 15px;
				color: $main;
				font-size: 13px;
				font-weight: 600;
				text-transform: uppercase;
				border:	1px solid $black;
				border-radius: 100px;
			}
			&.active{
				
				a{
					color: $main;
					border:	1px solid $main;
				}
			}
			&:hover{
				
				a{
					color: $main;
					border:	1px solid $main;
					opacity: 1;
				}
			}

		}
	}
}
.post-date{
	margin-bottom: 5px;
    font-size: 13px !important;
    text-align: center;
}
.post-video{
	padding-bottom: 20px;
	iframe{
		width: 100% !important;
		height: 340px;
	}
}
.post-image{
	img{
		width: 100%;
	}
}
.post-title{
	font-size: 36px;
    text-align: center;
}
.related-posts{
	&__nav{
		margin-bottom: 40px;
		margin-top: 70px;
		position: relative;
		h2{
			display: inline-block;
			padding: 0;
		}
		&__controls{
			display: inline-block;
		    position: absolute;
		    width: 100%;
		    top: 50%;
		    transform: translateY(-50%);
		    svg{
		    	height: 15px;
		    }
		}
	}
	.slick-list{
		padding: 10px 6px;
	}
	
}

.pager{
	margin-top: 20px;
	&__list{
		list-style: none;
		padding: 0;
	}
	&__item{
		display: inline-block;
	}
	.page-numbers{
		color: $main;
		opacity: 0.6;
		font-size: 17px;
		font-weight: 600;
		padding: 10px 10px;
		line-height: 15px;
		transition: all 0.2s linear;
		&.current{
			opacity: 1;
			font-size: 16px;
		}
		&.next, &.prev{
			svg{
				height: 14px;
		    	position: relative;
		    	top: 2px;
			}
		}
		&:hover{
			opacity: 1;
		}
	}
}

.archive__post-item{
	position: relative;
	height: 220px;
	background-size: cover;
	&__title{
		z-index: 2;
	    position: absolute;
	    top: 30px;
	    text-transform: uppercase;
	    color: #f4f4f4;
	    font-family: $heading-font;
	    left: 25px;
	    font-size: 15px;
	}
	&__children{
		padding-top: 20px;
    	padding-left: 30px;
		&__item{
			font-weight: 600;
			a{
				color: $black;
				font-family: $heading-font;
			}
		}
	}
	.button--read-more{
		color: $white !important;
		margin-bottom: 0;
		position: relative;
		left: 10px;
		transition: all 0.2s linear;
		.arrow{
			svg{
				path{
					stroke: $white;
				}
			}
		}
	}
	&:hover{
		.button--read-more{
			left: 0px;
		}
		.button-overlay{
			opacity: 1;
		}
	}
}

