.product-page{
	padding-top: 150px;

	.gallery__item_inner{
		
	}
	.gallery__main{

		.slick-list{
			max-height: 500px;
		}
		.slick-track{
		}
		&__inner{
			opacity: 0;
			transition: all 0.2s ease-in-out;
			&.slick-initialized{
				opacity: 1;
			}
		}
		.slick-slide{
			position:relative;
			text-align: center;
			
			
		}
		.slick-arrow{
			border:none;
		}
	}
	.gallery__thumbs{
		padding-top: 10px;
		opacity: 1;
		&__item{
			float: left;
			padding-right: 10px;
			img{
				height: 100px;
			}
		}
	}
	.gallery-image{
		height: 500px;
		width: 100%;
		background-repeat: no-repeat;
    	background-size: contain;
    	background-position: center;
	}
	@media only screen and (max-width: $mobile-breakpoint){
		padding-top: 60px;
	}
}
.product-info{
	padding-top: 20px;
	h1{
		font-size: 30px;
		text-align: center;
	}
	&__features{
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
		&__icon{
			margin-right: 10px;
			img{
				height: 60px;
			}
		}
	}
	&__sdesc{
		text-align: justify;
		&.entry-content{
			padding-top: 0px;
		}
	}
}

.product-info_wholesale{
	padding: 20px;
    box-shadow: 0px 0px 5px 2px #d8d8d8;
    margin-top: 30px;
	h4{
		text-transform: uppercase;
		margin-bottom: 0;
	}
	p{
		font-size: 14px;
	}

}

.product-container{
	margin-top: 50px;
	a{
		&:hover{
			text-decoration: none;
		}
	}
}
.products{
	margin-top: 70px;
}
.product-item{
	padding: 30px 30px;
	transition: all 0.1s ease-in-out;
	position: relative;
	&__title{
		z-index: 2;
		position: absolute;
		bottom: 0;
		text-transform: uppercase;
		color: $white;
		font-family: $heading-font;
	}
	&:hover{
		box-shadow: 0px 0px 8px 1px #82828245;
		.button-overlay{
			opacity: 1;
		}
	}
	.overlay{
		opacity: 0.3;
	}
	&--large{
		height: 100%;
		background-size: cover;
		background-position: center;
		&__title{
			font-size: 20px;
		}
	}
	&--small{
		height:250px;
		background-size: cover;
		background-position: center;
		&__title{
			font-size: 20px;
		}
	}
	&--medium{
		height: 320px;
	    background-size: cover;
	    background-position: center;
	    margin-bottom: 25px;
	}
	@media only screen and (max-width: $mobile-breakpoint){
		&--large{
			height: 250px;
			margin-bottom: 15px;
		}
		&--small:has(> .col-sm-6){
			padding-bottom: 15px;
		}
		
	}
}
@media only screen and (max-width: $mobile-breakpoint){
		.second-row-products .col-sm-6:nth-child(3), .second-row-products .col-sm-6:nth-child(4){
			padding-bottom: 15px;
		}
	}
.second-row-products .col-sm-6:nth-child(1), .second-row-products .col-sm-6:nth-child(2){
	padding-bottom: 15px;
}


.related-products{
	padding-top: 40px;
	a{
		text-decoration: none;
	}
}
