/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

input[type=checkbox]{
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #e9e9e9;
  }

  // Box hover
  &:hover + label:before {
    background: $secondary;
  }
  
  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: #fff;
  }
  
  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 11px;
    background: $main;
    width: 2px;
    height: 2px;
    box-shadow: 
      2px 0 0 $secondary,
      4px 0 0 $secondary,
      4px -2px 0 $secondary,
      4px -4px 0 $secondary,
      4px -6px 0 $secondary,
      4px -8px 0 $secondary;
    transform: rotate(45deg);
  }
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="number"],
select,
textarea {
    display: block;
    width:100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border: 0;
    font-size: 12px;
    height: 55px;
    outline: none;
    transition:all 0.2s;
    transition: all 200ms;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: $black;
    -webkit-appearance: none;
    padding:5px 10px;
    background-color: #fff;
    margin-top: 5px;
    border: 1px solid #ededed;
    &.error{
        border-color: $main;
    }
  &:focus{
    border-bottom: 1px solid $main;
  }
  &:focus + span{
    color: $secondary;
  }
  
}

textarea {
    height: 145px;
    resize: none;
}

.hidden{
    display:none!important;
}

.g-recaptcha{
    display:inline-block;
    border:1px solid #E1E1E1;
    border-radius:3px;
    overflow:hidden;
    margin-bottom:20px;
    > div{
        margin:-1px -3px -3px -1px;
    }
    &.error{
        border-color:$gray;
    }
}
.form-radio{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     border: 1px solid #f1f1f1;
     color: #666;
     top: 5px;
     height: 20px;
     width: 20px;
     border-radius: 50%;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.form-radio:checked::before{
      position: absolute;
      font: 13px/1 'Open Sans', sans-serif;
      left: 5px;
      top: 5px;
      content: '';
      width: 8px;
      height: 8px;
      background-color: #073988;
      border-radius: 50%;
      transform: rotate(40deg);
}
.form-radio:hover{
      border: 1px solid #dedddd;
}
.input{
  &__row{
    text-align: left;
    padding-bottom: 10px;
  }
  &__block{
    color: $text;
    margin:0 0 20px;
    display:block;
    font-size:12px;
    &__label{
      font-size: 13px;
      font-weight: 600;
      color: $black;
      cursor: pointer;
      display: inline;
      text-transform: uppercase;
    }
  } 
}

.req{
  color: $main;
  position: relative;
  padding-left: 4px;
}

.errors-wrap{
    margin:0 0 20px;
    color:$secondary;
    font-size:12px;
    line-height:14px;
}

.contacts__form{
    position:relative;
    padding-right: 20px;
    @media screen and (max-width: $mobile-breakpoint) {
      padding-right: 0;
    }
    &:after{
        position:absolute;
        left:0;
        top:-20px;
        right:0;
        bottom:0;
        opacity:0;
        visibility:hidden;
        transition:all, 0.2s;
        content:'';
    }
    &.loading:after{
        opacity:1;
        visibility:visible;
    }
    &.loading{
      input, textarea{ 
        background-color: #151515 !important;
      }
    }
}

.form__status{
    padding: 14px 0px 14px 0px;
    line-height: 25px;
    position: absolute;
    display: inline-block;
    left: 0;
    color: $black;
    margin: 0 0 25px;
    display: inline-block;
    font-weight: 700;
    &.error{
        color: $secondary;
    }
}

.button-container{
  text-align: right;
  padding-top: 20px;
}

 @media screen and (max-width: $mobile-breakpoint) {
  .button-container{
    text-align: center;
  }
 }


