.full-width-block{
	position: relative;
	&__left{
		position: absolute;
	    left: 0;
	    width: 50%;
	    height: 100%;
	    top:0;
	    background-color: $gray;
    	z-index: -1;
	}
	&__right{
		position: absolute;
	    right: 0;
	    width: 50%;
	    height: 100%;
	    top: 0;
	}

	@media screen and (max-width: $mobile-breakpoint) {
		&__right{
			position: relative;
		    width: 100%;
		    height: 380px;
		    margin-top: 40px;
		}
		&__left{
			position: relative;
		    width: 100%;
		}
	}
}