.gallery{
	&__item{
		&__image{
			width: 100%;
			img{
				width: 100%;
				object-fit: cover;
			}
		}
	}
	@media screen and (max-width: $mobile-breakpoint) {
		&-block{
			margin-bottom: 40px;
		}
	}
}
.wp-block-blockgallery-carousel{
    padding-bottom: 50px;
}
.onGallery-controls{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    @media screen and (max-width: $mobile-breakpoint) {
        display: none;
    }
    .arrow-left, .arrow-right{
        top: 0;
        position: absolute;
        background-repeat: no-repeat;
        height: 100%;
        width: 50%;
        visibility: hidden;
        -webkit-transition: all .1s linear;
        -o-transition: all .1s linear;
        -moz-transition: all .1s linear;
        transition: all .1s linear;
        background-position-y: center;
        &[aria-disabled="true"]{
            opacity: 0.2;
        }
        
    }
    &__left{
        width: 50%;
        float: left;
        height: 100%;
        cursor: pointer;
        .arrow-left{
            background-image: url('../images/arrow-left.svg');
            background-position-x: left;
            left: 20px;
        }
        &:hover{
            .arrow-left{
                visibility: visible;
            }
        }
    }
    &__right{
        width: 50%;
        float: right;
        height: 100%;
        cursor: pointer;
        .arrow-right{
            background-image: url('../images/arrow-right.svg');
            background-position-x: right;
            right: 20px;
        }
        &:hover{
            .arrow-right{
                visibility: visible;
            }
        }
    }

}
.gallery-controls{
	margin-top: 10px;
	.left{
		float: left;
	}
	.right{
		float: right;
	}
	&__paging{
		color: $main;
		font-weight: 600;
		font-size: 15px;
		display: inline-block;
    	padding-left: 10px;
    	right: 5px;	
    	position: relative;
	}
	&__open{
		color: $main !important;
		font-weight: 600;
		text-transform: uppercase;
    	font-size: 15px;
    	display: none;
	}
	&__arrow-right, &__arrow-left{
		cursor: pointer;
		position: relative;
    	bottom: -3px;
    	height: 17px;
	    width: 17px;
	    background-position: center;
	    background-size: contain;
	    display: inline-block;
	    background-repeat: no-repeat;
	    cursor: pointer;
		svg{
			height: 15px;
		}
	}
	&__arrow-left{
		background-image: url('../images/arrow-left.svg');
        right: 20px;
        &[aria-disabled="true"]{
            opacity: 0.2;
        }
	}
	&__arrow-right{
		background-image: url('../images/arrow-right.svg');
        right: 10px;
        &[aria-disabled="true"]{
            opacity: 0.2;
        }
	}
}
#lookbook-gallery{
    .pswp{
        &__bg{
            background: rgba(19, 19, 19, 0.9);
        }
        &__item {
            @media screen and ( min-width: 996px ) {
                left: 60px;
                right: 60px;
            }
        }
        &__top-bar{
            background:transparent;
        }
        &__button{
            outline:none;
            background: transparent;
            width:45px;
            height:45px;
            opacity:1;
            line-height:48px;
            text-align:center;
            transition: background 0.2s;
            &--arrow{
                &--left, &--right{
                    margin-top:-23px;
                    svg{
                        height:12px;
                    }
                }
            }
            &--close{
                top:10px;
                right:10px;
                width:46px;
                height:46px;
                line-height:51px;
                svg{
                    width:16px;
                    height:16px;
                }
            }
            &:before{
                display:none;
            }
            svg path{
                fill: $main;
                transition: fill 0.2s;
            }
            &:hover{
                
                svg path{
                    fill: $white;
                }
            }
        }
    }
    .gal-info{
        position:absolute;
        bottom:41px;
        left:0;
        right:0;
        text-align:center;
        height:0;
        color:$main;
        font-size:15px;
        font-weight:bold;
        letter-spacing:0.32px;
        .current{
            color:$main;
        }
    }
}