@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo+2:400,600,700&display=swap');
@font-face {
  font-family: "Myriad pro bold";
  src: url('../fonts/MYRIADPRO-BOLD.OTF');
}
@font-face {
  font-family: "Myriad pro regular";
  src: url('../fonts/MYRIADPRO-REGULAR.OTF');
}
$heading-large : 'Exo 2', sans-serif;
$heading-font: 'Exo 2', sans-serif;
$heading-font-light: 'Exo 2', sans-serif;
$main-font: 'Lato', sans-serif;
$main-font-bold: 'Lato', sans-serif;
/*COLORS*/
$black: #363636;
$white: #F4F4F4;
$main: #E25303;
$secondary: #B27F2B;
$gray: #F8F8F8;
$textDark: #4c4c4c;
$lighterText: #7D7D7D;
$border_color: #E9E9E9;
$text: #717171;
$headingSmall: #D6D0C2;
$link: #1892BF;
body{
	background-color: #f8f8f8;
}
.wrapper{
    margin: 0 auto;
    overflow: hidden;
}
.no-scroll{
	height: 100vh;
	overflow: hidden;
}
/* Typography */
p{
	font-family: $main-font;
	color: $textDark;
	font-size: 16px;
	line-height: 25px;
}

a{
	color: $main;
	font-family: $main-font;
	&:hover{
		color: $main;
		opacity: 0.7;
		text-decoration: none;
	}
	&:active{
		text-decoration: none;
	}
	&:focus{
		text-decoration: none;
	}
}
h1{
	font-family: $heading-font;
	color: $black;
	font-weight: 600;
	margin-bottom: 50px;
	text-transform: uppercase;
	font-size: 34px;
}
h2{
	font-family: $heading-font;
	font-size: 28px;
    font-weight: 600;
    color: $black;
    text-transform: uppercase;
    padding-bottom: 5px;
}
h3{
	font-family: $heading-font;
	color: $black;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 22px;
	font-size: 18px;
}
h4{
	font-size: 15px;
    line-height: 22px;
    font-family: $heading-font;
    color: $black;
}
.text{
	font-size:13px;
	color: $text;
}
.link{
	text-decoration: underline;
	transition: all 0.1s ease-in-out;
	&--grey{
		color: #242626;
		&:hover{
			color: $secondary;
		}
	}
}
.center{
	text-align: center;
}
.hidden{
	display: none;
}
.n-visiable{
	opacity: 0 !important;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.lead-text{
	font-size: 16px;
    line-height: 30px;
}
.overlay{
	transition: all 0.2s linear;
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(13,13,13,0.8) 0%, rgba(13,13,13,0.30) 40%);
    z-index: 1;
    &--solid{
		background: rgba(56, 21, 2, 0.2);
    }
    &--solid-black{
    	 background: rgba(19, 19, 19, 0.52);
    }
}
.bg-image:after{
	content: ' ';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
    background-image: url('../images/20140929_095620.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}
.section{
	margin-top: 60px;
}
.entry-content{
	max-width: 750px;
	h2{
		font-size: 24px;
		margin-top: 50px;
    	margin-bottom: 20px;
	}
	p{
		color: $black;
	    font-size: 14px;
		line-height: 25px;
		font-weight: 400;
		text-indent: 20px;
	}
	&__featured-image{
	    height: 350px;
	    background-size: cover;
	    background-position: center;
	    margin-bottom: 40px;
	    margin-top: 50px;
	}

	
}
.entry-content, .spec-list{
	ul {
		font-size: 14px;
		line-height: 1.5em;
		margin: 5px 0 15px;
		padding: 0;
		li {
			list-style: none;
			position: relative;
			padding: 0 0 10px 20px;
			line-height: 20px;
			color: $black;
			font-family: $main-font;
			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 9px;
				width: 8px;
	      		display: block;
				border-top: 2px solid $main;
			}
		}
	}
}
.entry-wrapper{
	.entry-content{
		max-width: 650px;
		margin: auto;
	}
}
.notfound-page{
    padding-top: 180px;
    text-align: center;
    h1{
    	font-size: 110px;
    	color: $main;
    }
    h3{
    	margin-bottom: 30px;
    	color: $secondary;
    }
}

.archive-desc{
	max-width: 560px;
	p{
		font-size: 16px;
	}
}
@media (min-width: 992px){
	.container{
		max-width: 1100px;
	}
}
.mob-only{
	display: none
}
.desktop-only{
	display: block;
}
.tablet-only{
	display: none !important;
}
@media only screen and (max-width: $tablet-breakpoint){
	.desktop-only{
		display: none !important;
	}
	.tablet-only{
		display: block !important;
	}
}
@media only screen and (max-width: $mobile-breakpoint){
	.mob-hidden{
		display: none !important;
	}
	.mob-only{
		display: block
	}

}